*.o
*~
*.bak
.sconf_temp/
.sconsign.dblite
/build*/
/doc/doxygen/
/libxboxdrv.a
/tools/usbcat
/tools/wiimote
/virtualkeyboard
/xboxdrv
cache/
config.log
custom.py
doc/xboxdrv-daemon.html/
doc/xboxdrv.ent
doc/xboxdrv.html/
incoming/
old
src/xboxdrv_controller_glue.hpp
src/xboxdrv_daemon_glue.hpp
src/xboxdrv_dbus_glue.hpp
src/xboxdrv_vfs.hpp
test/*_test
