*.o
*~
.sconf_temp/
.sconsign.dblite
cache/
config.log
custom.py
doc/xboxdrv-daemon.html/
doc/xboxdrv.ent
doc/xboxdrv.html/
libxboxdrv.a
old
src/xboxdrv_controller_glue.hpp
src/xboxdrv_daemon_glue.hpp
src/xboxdrv_dbus_glue.hpp
src/xboxdrv_vfs.hpp
test/*_test
xboxdrv
incoming/
