*~
*.o
.sconsign.dblite
xboxdrv
old
.sconf_temp/
config.log
doc/xboxdrv-daemon.html/
doc/xboxdrv.html/
doc/xboxdrv.ent
custom.py
cache/
libxboxdrv.a
test/ini_parser_test
src/xboxdrv_controller_glue.hpp
src/xboxdrv_daemon_glue.hpp
src/xboxdrv_dbus_glue.hpp
src/xboxdrv_vfs.hpp
