Source: xboxdrv
Section: utils
Priority: extra
Maintainer: Ingo Ruhnke <grumbel@gmx.de>
Build-Depends: debhelper (>= 7), scons, libboost1.41-dev, libusb-dev, libx11-dev, x11proto-core-dev, scons, g++, libboost-thread1.41-dev, x11proto-core-dev, python-dbus
Standards-Version: 3.8.0
Homepage: http://pingus.seul.org/~grumbel/xboxdrv/

Package: xboxdrv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Xbox360 gamepad driver for the userspace
 This is a Xbox/Xbox360 gamepad driver for Linux that works in
 userspace. It is an alternative to the xpad kernel driver and has
 support for Xbox1 gamepads, Xbox360 USB gamepads and Xbox360 wireless
 gamepads. The Xbox360 guitar and some Xbox1 dancemats might work
 too. The Xbox 360 racing wheel is not supported, but shouldn't be to
 hard to add if somebody is interested.
 .
 This driver is only of interest if the xpad kernel driver doesn't
 work for you or if you want more configurabity. If the xpad kernel
 driver works for you there is no need to try this driver.
 .
 In addition to all the Xbox related stuff, the driver also supports
 the Thrustmaster Dual Power 3 gamepad, including rumble, which isn't
 supported by the normal kernel driver.
